@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ramazan KÜÇÜKKOÇ</title>
	@await Html.PartialAsync("_CssPartial")

</head>
<body>
	@await Html.PartialAsync("_NavbarPartial")
	 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="btn-toolbar mb-2 mb-md-0">
	@RenderBody()
			</div>
		</div>
	</main>


	@await Html.PartialAsync("_JavascriptParial")
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>