
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Ana Sayfa</a>
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
	<div class="navbar-nav">
		<div class="nav-item text-nowrap">
			<a class="nav-link px-3" href="/auth/login">Sign out</a>
		</div>
	</div>
</header>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky pt-3 sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="/Products/Index/">
					<span data-feather="shopping-cart" class="align-text-bottom"></span>
					Ürünler
				</a>

				@* Dropdown List kullanımı...
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Ürünler
				</a>
				<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="/products/Index">Ürün Listesi</a></li>

				<li><a class="dropdown-item" href="/products/ekleme">Ürün Ekleme</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul>*@
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Categories/index">
					<span data-feather="file" class="align-text-bottom"></span>
					Kategoriler
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Users/Index/">
					<span data-feather="shopping-cart" class="align-text-bottom" ></span>
					Kullanıcılar
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Customers/Index/">
					<span data-feather="users" class="align-text-bottom"></span>
					Müşteriler
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="bar-chart-2" class="align-text-bottom"></span>
					Personeller
				</a>
			</li>

		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
			<span>Saved reports</span>
			<a class="link-secondary" href="#" aria-label="Add a new report">
				<span data-feather="plus-circle" class="align-text-bottom"></span>
			</a>
		</h6>
		<ul class="nav flex-column mb-2">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file-text" class="align-text-bottom"></span>
					Current month
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file-text" class="align-text-bottom"></span>
					Last quarter
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file-text" class="align-text-bottom"></span>
					Social engagement
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file-text" class="align-text-bottom"></span>
					Year-end sale
				</a>
			</li>
		</ul>
	</div>
</nav>