@model UserPasswordChangeDto
@{
	Layout = null;
	ViewBag.Title = "Şifre Değiştir";
}
    @await Html.PartialAsync("_CssPartial")

<div class="row">
	<div class="col-lg-6 offset-lg-3">
		<div class="card mt-3">
			<div class="card-header">
				<h4 class="text-center"><span class="fas fa-key"></span>Şifre Değiştir</h4>
			</div>
			<div class="card-body">
                <form asp-controller="Users" asp-action="PasswordChange"  method="post">
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>

                   <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Lütfen, Şu an ki Şifrenizi giriniz..." />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Lütfen, Yeni Şifrenizi giriniz..." />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input type="password" class="form-control" asp-for="RepeatPassword" placeholder="Lütfen, tekrardan yeni şifrenizi giriniz..." />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
                                                       
                    <div class="modal-footer form-group">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span>Kaydet</button>
                        <a  asp-controller="Home" asp-action="Index" class="btn btn-danger btn-block"><span class="fas fa-times"></span>Iptal Et</a>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>

@await Html.PartialAsync("_JavascriptParial")


