@model ProductForGetAllDto
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-plus"></span> Ürün Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form asp-controller="Products" id="form-product-update" asp-action="AddOrEdit" method="post">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none;"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="ProdcutName"></label>
                        <input type="text" class="form-control" asp-for="ProdcutName" />
                        <span class="text-danger" asp-validation-for="ProdcutName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand"></label>
                        <input class="form-control" type="text" asp-for="Brand" />
                        <span class="text-danger" asp-validation-for="Brand"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stock"></label>
                        <input class="form-control" type="number" asp-for="Stock" />
                        <span class="text-danger" asp-validation-for="Stock"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitPrice"></label>
                        <input class="form-control" asp-for="UnitPrice" />
                        <span class="text-danger" asp-validation-for="UnitPrice"></span>
                    </div>                  
                    <div class="form-group">
                        <label>CategoryName</label>
                        <select asp-for="CategoryId" asp-items=" ViewBag.deger1 " class="form-control">
                            <option class="form-control text-info">Kategori Seçiniz.....</option>
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SalesPrice"></label>

                        <input type="text" class="form-control" asp-for="SalesPrice" />
                        <span class="text-danger" asp-validation-for="SalesPrice"></span>
                    </div>
                    <div class="modal-footer form-group">
                        <button type="button" class="btn btn-warning btn-block" data-bs-dismiss="modal"><span class="fas fa-times"></span>Iptal Et</button>
                        <button type="submit" id="btn-update" class="btn btn-primary  btn-block"><span class="fas fa-save"></span>Güncelle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>